.dropdown__item {
    padding: 8px;
    width: 188px;
    height: 50px;
    box-sizing: border-box;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    flex-shrink: 0;
    border-bottom: 1px solid #ebebeb;

    .item__title {
        padding-bottom: 2px;
        font-weight: 700;
    }

    .item__date {
        font-size: 12px;
        opacity: 0.8;
    }

    &.outdated {
        color: transparentize($color: #000000, $amount: 0.5);
    }

    &:hover {
        background-color: #27a1ff;
        color: white;
    }

}
