/* Global colors */
$black: #000000;
$white: #FFFFFF;

/* Common colors */
$common__gray-color: #f4f4f4;
$common__blue-color: #0271c7;
$common__blue-light-color: #c2e4fe;

$common_box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
