/* Global colors */

$red: #FF0000;
$black: #000000;
$white: #FFFFFF;

/* Common colors */
$common__light-color: #ffffff;
$common__dark-color: #000000;
$common__gray-color: rgba(0, 0, 0, 0.25);
$common__gray-light-color: rgba(0, 0, 0, 0.05);
$common_box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
